<footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="upper-footer">
                <section class="my-5" id="Contact">
                    <div class="row">
                        <div class= "col-lg-4 col-md-4 col-12">
                            <h2 class="text-center">Muskan Jain</h2>
                            <p class="text-center">The Sparks Foundation <br>Basic Banking System<br>Task - 1</p>
                            <div class="row">
                        </div>
                    </div>            
                    
                        <div class= "col-lg-4 col-md-4 col-12">
                            <h2 class="text-center">Follow</h2>
                            <p class="text-center">Social Accounts <br>
                                <div class="text-center display-6">
                                    <a href="https://github.com/Muskanj670"><i class="fa fa-github"></i></a>
                                    <a href="https://www.instagram.com/muskanj670/"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/muskan-jain-271203na/"><i class="fa fa-linkedin-square"></i></a>
                                </div> 
                            </p>
                                           
                        </div>
                    </div>        
                </section>
            </div>
        </div>
        Copyright &copy; 2022 all rights reserved
    </div>
</footer>