*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans',sans-serif;
}
.carousel-item img{
    width: 100%;
    height: 100vh;
}
.aboutimg{
    width: 100%;
    height: 250px !important;  
  }
.form{
    margin-top: 20%;
    padding: 50%;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.row img{
    width: 100%;
    height: 200px;
}
.footer-bottom{
    background-color: #333333;
    padding: 1rem;
    text-align: center;   
    color: #f0f8ff;
}
.follow i{
    border: solid #4b4286;
    border-radius: 25%;
}